<! DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
            <title>Accounts</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap/min.css">
    </head>
    <body>
        <h1>All Accounts</h1>

    <button class="btn btn-primary mb-3" data-toggle="model" data-target="#addAccountModel">Add new Accounts</button>

    <table class="tabble mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Holder Name</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
    </body>
</html>